* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    width: 100vw;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 100px;
    background-color: #1f2937;
    color: #e5e7eb;
}

.logo {
    font-weight: bold;
}

ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.first-section {
    background-color: #1f2937;
    padding: 80px 100px 80px 100px;
    display: flex;
    height: 16vh;
    overflow-x: hidden;
}

.left-side {
    flex: 1;
}

.main-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.main-text {
    font-size: 18px;
    color: #e5e7eb;
}

.main-signup-btn {
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    padding: 5px 20px;
    border-color: #3882f6;
    margin-top: 10px;
}

.main-img {
    max-height: 200px;
}

.right-side {
    display: flex;
    flex: 1;
    justify-content: center;
}

.second-section {
    height: 30vh;
    margin: 0 100px 0 100px;
    overflow-x: hidden;
}

.second-section h1 {
    text-align: center;
    padding: 40px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.box {
    width: 100px;
    height: 100px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    margin: 10px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    /*flex-wrap: wrap -> könnte ich verwenden, gut für handy weil die boxen sich dann selber sortieren wenn das fenster kleiner wird, hier nicht implementirer weil ein overflow ensteht wenn man den rest nicht anpasst*/
}

.first-element, .second-element, .third-element, .fourth-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    text-align: center;
}

.text {
    font-size: 16px;
    color: grey;
}

.third-section {
    height: 18vh;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 100px 0 100px;
    padding: 40px;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.quote {
    font-size: 36px;
    font-family: light;
    font-style: italic;
    color: grey;
}

.source {
    text-align: right;
    font-weight: bold;
}

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 20px 0;
}

.sign-up {
    background-color: #3882f6;
    width: 700px;
    display: flex;
    padding: 20px 60px;
    border-radius: 5px;
    color: white;
}

.sing-up-text p {
    font-size: 18px;
}

.sing-up-text h1 {
    font-size: 24px;
}

.sign-up-btn {
    border-color: white;
    border-radius: 5px;
    min-width: 95px;
    min-height: 30px;
    color: white;
    background-color: #3882f6;
    font-weight: bold;
}

.sign-up-btn-container {
    text-align: center;
    margin: auto;
}

.footer {
    background-color: #1f2937;
    color:#e5e7eb;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}